*{margin: 0px; padding:0px;}

html, body{
    width: 100%;
    height: 100%;
}

ul{list-style-type: none;}
a{text-decoration: none; color:black;}

/*처음부터 다시 만들자!*/

#bannerTop{ /*배너 전체*/
    z-index: 6;
    text-align: center;
    display: inline-block;

    position:fixed; /* 스크롤 쓰거나 크기 작아져도 위치 고정*/
    top:0px;
    height: 30px;
    
    margin-left: calc(-45vw + 45%);
    width:100vw; /*부모 크기와 상관없이 100%로 화면 채우도록*/
    
    background-color:greenyellow;
    white-space: nowrap; /*공백을 개행으로 취급하지 않음*/
}

#bannerTop>li{
    position: relative;
    text-align: center;
}

.topmenu{ /*맨위의 고정배너-로고, 회사소개, 등록, 채용, 문의, 마이페이지*/
    display: inline-block; /*요소는 줄바꿈되지 않지만 내부는 박스*/
    width: 130px;
}

.submenu{
    position: absolute;
    top: 28px;
    display:none; /*처음에 숨겨놓음*/
    width: 130px;
    height: 140px;
}


#bannerTop:hover .submenu{ /*마우스오버 시 서브메뉴보이게*/
    display: block;
}